@charset "utf-8";
/* ヘッダータイトル */
.head-title {
    font-weight: bold;
    font-size: 25px;
    padding: 5px 5px 5px 50px;
    margin: 0;
    text-shadow: 2px 2px 1px #999999;
}
.head-title a{
    text-decoration: none;
}
.head-title a:link,
.head-title a:visited,
.head-title a:hover,
.head-title a:active {
    color: #ffffff;
}

.head-msg {
    height: 38px;
    margin-right: 20px;
}
.head-welcome {
    font-weight: normal;
    font-size: 16px;
}
.head-handlename {
    font-weight: normal;
    font-size: 20px;
}
.head-handlename a {
    text-decoration: none;
}
.head-handlename a:link,
.head-handlename a:visited,
.head-handlename a:hover,
.head-handlename a:active {
    color: #ffffff;
}

/* フッターテキスト */
.foot-txt {
    font-size: 15px;
    padding: 10px 5px 10px 5px;
    margin: 0;
    text-align: center;
}

/* サイドメニュー */
.menu-list {
    list-style-type: none;
    padding-left: 0;
}
.menu-list li {
    margin: 10px 0 10px 0;
    text-align: center;
}
.menu-list a {
    text-decoration: none;
}
.menu-list a:link,
.menu-list a:visited,
.menu-list a:hover,
.menu-list a:active {
    color: #ffffff;
}

/* コンテンツ */
.detail-list {
    width: 740px;
}

.tbl-date {
    width: 85px;
}
.tbl-num {
    text-align: right;
}
.detail-list >tbody> tr> .tbl-num {
    width: 80px;
}
.tbl-genre {
    width: 90px;
    text-align: center;
}
.tbl-ico {
    width: 70px;
    text-align: center;
}
.tbl-act {
    width: 90px;
}

/* ページリンク */
.link-page a {
    font-size: 15px;
    padding: 5px 10px;
    text-decoration: none;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -o-transition: 0.8s;
    -ms-transition: 0.8s;
    transition: 0.8s;
}
.link-page a:hover {
    background: #a9bcf5;
}
.link-page a:link,
.link-page a:visited,
.link-page a:hover,
.link-page a:active {
    color: #000000;
}

/* ボタンアイコン */
.icon-button {
    font-size: 12px;
    background: #d8d8d8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-button a {
    text-decoration: none;
}
.icon-button a:link,
.icon-button a:visited,
.icon-button a:hover,
.icon-button a:active {
    color: #000000;
}

.icon-button-min {
    font-size: 10px;
    background: #d8d8d8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 3px;
}
.icon-button-min a {
    text-decoration: none;
}
.icon-button-min a:link,
.icon-button-min a:visited,
.icon-button-min a:hover,
.icon-button-min a:active {
    color: #000000;
}

/* アイコン */
.icon-true {
    font-size: 12px;
    background: #01dfa5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-false {
    font-size: 12px;
    background: #d8d8d8;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-like {
    font-size: 12px;
    background: #58acfa;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}
.icon-alt {
    font-size: 12px;
    background: #fe2e64;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.icon-genre {
    font-size: 12px;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    padding: 0 10px;
}

.col-i_1 { /* 給与 */
    background: #819ff7;
}
.col-i_2 { /* 買取 */
    background: #fe2e64;
}

.col-e_1 { /* 趣味費 */
    background: #fe2e64;
}
.col-e_2 { /* イベント */
    background: #fe2e9a;
}
.col-e_3 { /* 交通費 */
    background: #f5a9e1;
}
.col-e_4 { /* 交際費 */
    background: #faac58;
}
.col-e_5 { /* 食費 */
    background: #ffff00;
}
.col-e_6 { /* 家賃 */
    background: #819ff7;
}
.col-e_7 { /* 公共料金 */
    background: #58acfa;
}
.col-e_8 { /* 生活費 */
    background: #58d3f7;
}

.col-i_3,
.col-e_9 { /* その他 */
    background: #d8d8d8;
}

/* フラッシュメッセージ */
.flash-msg {
    margin-right: 200px;
    padding: 10px 20px;
    background: #cef6f5;
    border: solid 2px #000000;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

/* 登録フォーム用 */
table >tbody> tr> .label {
    text-align: right;
}

/* テンプレタイトル挿入 */
.js-insert {
    margin: 0 5px;
}
